@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(202, 202, 202);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(168, 168, 168);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.Banner {
  display: flex;
  background-color: white;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 24, 66);
  gap: 10px;
}

.Content {
  min-height: 1000px;
  margin-bottom: 10px;
}

.App{
  position: relative;
}

.list_Slide_img{
  background-color: black;
}

.list_Slide_img.Slide-img img {
  display: block;
  width: 100%;
  object-fit: cover ;
  height: 100%;
}




/* ---------------------------------------- */
.List_Slide {
  width: 100%;
  position: relative;
}
.List_Slide_stital {
  position: absolute;
  bottom: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: white;
  line-height: 1.5;
  z-index: 6;
  width: 100%;

}
.List_Slide_overplay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background-image: linear-gradient(to top,rgba(88, 46, 46, 0.433), rgba(0, 0, 0, 0));
  z-index: 5;
}
.Slide-img {
  height: 500px;
}
.Slide-img img {
  height: 100%;
}





/* ---------------------chỉnh Carousel------------------------------------- */
.List_Slide_img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
/* ---------------------chỉnh Carousel------------------------------------- */

.modify_color_red {
  color:yellow
}