.Footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 36, 98);
    color: white;
    height: 220px;
    gap: 10px;
    padding: 0 30px;
    text-align: center;
}

.Footer_info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Footer_info > h3{
    font-weight: 400;
}
