.Slide-img{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 300px;
}

.Slide-img > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}